@use 'vars' as *;

.mv-page__concept{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    @include fts(30, 44);
    font-family: $font-jp;
    letter-spacing: 3px;
    @include mq{
        @include fts(18, 26);
        padding: 0 25px;
    }
    @include mq(sm){
        text-align: left;
        top: 37%;
    }
    span{
        @include mq(sm){
            display: block;
        }
        span{
            @include font-size(60);
            position: relative;
            padding: 0 20px;
            letter-spacing: 6px;
            line-height: 2.2;
            margin-right: 15px;
            @include mq{
                display: inline-block;
                @include fts(39, 58);
                letter-spacing: 3px;
                margin-right: 12px;
            }
            @include p-before(38px, 38px){
                background: url(../img/concept/before.png) no-repeat center/100%;
                top: 0;
                left: 0;
                @include mq{
                    width: 25px;
                    height: 25px;
                }
            }
            @include p-after(38px, 38px){
                background: url(../img/concept/before.png) no-repeat center/100%;
                bottom: 0;
                right: 0;
                transform: rotate(180deg);
                @include mq{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}


.concept-intro{
    max-width: 966px;
    width: 92%;
    margin: 0 auto;
    padding: 23px 48px;
    margin-top: -60px;
    position: relative;
    z-index: 2;
    letter-spacing: 2.8px;
   @include fts(19, 40);
    margin-bottom: 115px;
    @include mq{
       
        @include fts(16, 25);
        padding: 8px 20px;
        letter-spacing: 1px;
        margin-bottom: 112px;
        margin-top: -140px;
    }
    p{
        position: relative;
        z-index: 2;
        margin-bottom: 16px;
        letter-spacing: 2.8px;
        line-height: 2.5;
        @include mq{
            line-height: 1.5625;
            letter-spacing: 0.5px;
        }
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    @include p-before(104%, 100%){
        background: url(../img/concept/bg-blur.png) no-repeat top center/100%;
        top: -9%;
        left: -2%;
        @include mq{
            background: url(../img/concept/bg-blur-sp.png) no-repeat top / 100% 100%;
            top: -40px;
            left: -6%;
            width: 112%;
        }
    }
}

.concept-page{
    &__txt-intro{
        text-align: center;
        @include fts(19, 31);
        margin-bottom: 70px;
        letter-spacing: 0.8px;
        @include mq{
            margin-bottom: 56px;
        }
    }
    &__list{
        margin-bottom: 92px;
        @include mq{
            max-width: 650px;
            margin: 0 auto 74px;
        }
        &-ttl{
            @include font-size(25);
            font-weight: 400;
            margin-bottom: 32px;
            letter-spacing: 1px;
            @include mq{
                @include font-size(20);
                text-align: center;
                margin-bottom: 23px;
            }
        }
        &-img{
            width: 46.5%;
            @include mq{
                max-width: 288px;
                width: 100%;
                margin: 0 auto 38px;
            }
        }
        &-ct{
            width: calc(100% - 46.5%);
            padding-left: 60px;
            position: relative;
            top: 10px;
            @include mq{
                width: calc(100% - 288px);
                padding-left: 30px;
                top: 0;
            }
            @include mq(sm){
                width: 100%;
                padding-left: 0;
            }
        }
        &-desc{
            max-width: 350px;
            margin: 0 auto;
            line-height: 1.82;
            position: relative;
            left: 9px;
            letter-spacing: 1px;
            @include mq{
                @include fts(16, 30);
                left: 0;
                padding: 0 9px;
                letter-spacing: 0;
            }
        }
        &-item{
            @include flex(0, center);
            @include mq{
                margin-bottom: 57px;
                flex-wrap: wrap;
            }
            &:nth-child(even){
                .concept-page__list{
                    &-img{
                        order: 2;
                        @include mq{
                            max-width: 304px;
                        }
                        @include mq(sm){
                            order: 1;
                            margin-bottom: 27px;
                        }
                    }
                    &-ct{
                        order: 1;
                        padding-left: 44px;
                        padding-right: 80px;
                        top: 27px;
                        @include mq{
                            width: calc(100% - 304px);
                            padding-left: 15px;
                            padding-right: 15px;
                            top: 0;
                        }
                        @include mq(sm){
                            width: 100%;
                            order: 2;
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    &__bottom{
        position: relative;
        padding-bottom: 47px;
        @include mq{
            padding-bottom: 55px;
        }
        .inner{
            position: relative;
            z-index: 2;
            max-width: 995px;
        }
        @include p-after(100%, 47.7%){
            background: #E6EAEF;
            bottom: 0;
            left: 0;
            @include mq{
                height: 90%;
            }
        }
        &-txt-lead{
            text-align: center;
            @include fts(25, 40);
            margin-bottom: 50px;
            letter-spacing: 1px;
            @include mq{
                @include fts(20, 30);
                margin-bottom: 23px;
            }
        }
        &-img{
            max-width: 922px;
            margin: 0 auto;
            @include mq{
                width: 94%;
                margin-bottom: 36px;
            }
        }
        &-desc{
            line-height: 1.82;
            letter-spacing: 0.7px;
            margin-bottom: 36px;
            @include mq{
                @include fts(16, 30);
                padding: 0 7px;
            }
        }
    }
}

.feature-page{
    padding: 112px 0 77px;
    @include mq{
        padding: 70px 0 37px;
    }
    &__ttl{
        margin-bottom: 90px;
        @include mq{
            margin-bottom: 54px;
        }
    }
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 45px;
        @include mq(lg){
            gap: 0 20px;
        }
        @include mq{
            grid-template-columns: 1fr;
            gap: 60px 0;
            max-width: 450px;
            margin: 0 auto;
        }
        &-item{
            position: relative;
            &:nth-child(1){
                background: url(../img/concept/after-01.png) no-repeat top center/84% 82%;
            }
            &:nth-child(2){
                background: url(../img/concept/after-02.png) no-repeat top center/84% 82%;
            }
            &:nth-child(3){
                background: url(../img/concept/after-03.png) no-repeat top center/84% 82%;
            }
        }
        &-heading{
            @include flex(0, center);
            margin-bottom: 7px;
            padding-left: 27px;
            @include mq{
                padding-left: 7px;
                margin-bottom: 0;
            }
        }
        &-number{
            font-family: $font-adventures;
            @include font-size(100);
            line-height: 1;
            width: 40px;
            @include mq(lg){
                @include font-size(90);
            }
            @include mq{
                @include font-size(93);
                position: relative;
                top: -7px;
                left: 5px;
            }
        }
        &-ttl{
            width: calc(100% - 40px);
            @include fts(25, 40);
            font-weight: 400;
            padding-left: 20px;
            @include mq(lg){
                @include font-size(18);
                padding-left: 10px;
            }
            @include mq{
                @include fts(20, 30);
                padding-left: 20px;
            }
        }
        &-desc{
            line-height: 1.82;
            margin-bottom: 26px;
            letter-spacing: 1px;
            padding: 0 5px;
            @include mq{
                @include fts(16, 30);
                margin-bottom: 21px;
            }
        }
        &-img{
            padding: 0 3px;
            @include mq{
                padding: 0 10px;
            }
        }
    }
}