@use "vars" as *;

#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: white;
	z-index: 999;
	@include flex(0,center,wrap);
	padding: 0 0 0 30px;
	@include mq(tb){
		padding: 15px;
	}
	.header-logo{
		display: block;
		width: 195px;
		@include mq(){
			width: 100px;
		}
	}
	.header-nav{
		width: calc(100% - 195px);
		@include flex(end,center,wrap);

		@include mq(tb){
			display: none;
			position: absolute;
			top: 59px;
			left: 0;
			width: 100%;
			height: calc(100vh - 59px);
			padding: 0 20px 150px;
			overflow-y: scroll;
			background-image: linear-gradient(to bottom, rgba(87, 146, 196, 0.93) 10%, rgba(233, 195, 227, 0.93));
			backdrop-filter: blur(3px) opacity(0.93);
			background-size: cover;
			background-position: center center;
			&.active{
				display: block;
			}
		}
		&__menu{
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			width: calc(100% - 300px);
			padding: 0 50px 0 0;
			@include mq(tb){
				display: block;
				width: 100%;
				padding: 0;
				margin-bottom: 15px;
			}
			&-item{
				padding: 0 15px;
				@include mq(tb){
					padding: 0;
				}
				a{
					color: #3E3A39;
					@include mq(tb){
						@include flex(0,center,wrap);
						color: white;
						border-bottom: 1px solid white;
						padding: 15px 0;
					}
					span{
						display: block;
						text-align: center;
					}
					.c-ft--en{
						@include font-size(19);
						@include mq(tb){
							margin: 0 10px 0 0;
						}
					}
					.c-ft--base{
						@include font-size(13);
					}
					&:hover{
						opacity: 1;
						color: $pink;
					}
				}
			}
		}
		&__other{
			display: none;
			@include mq(tb){
				display: block;
				li{
					margin-bottom: 13.5px;
					&:nth-child(3){
						margin-bottom: 7.5px;
					}
					&:last-of-type{
						margin-bottom: 0;
					}
					a{
						display: block;
						padding: 7px 15px;
						color: white;
						@include font-size(17);
						position: relative;
						&:before{
							content: "";
							border: solid white;
							border-width: 0 1px 1px 0;
							display: inline-block;
							padding: 2px;
							transform: rotate(-45deg);
							position: absolute;
							top: 17px;
							left: 0;
						}
						&.header-instagram{
							padding-left: 0;
							display: flex;
							align-items: center;
							&:before{
								display: none;
							}
							img{
								display: block;
								margin: 2px 6px 0 0;
							}
						}
;					}
				}
			}
		}
		&__sns{
			width: 300px;
			@include flex(0,0,wrap);
			@include mq(tb){
				width: auto;
				margin: 0 -20px;
				width: calc(100% + 20px);
				position: fixed;
				bottom: -125px;
				left: 0;
				right: 0;
			}
			&-item{
				width: 50%;
				a{
					@include flex(center,center,wrap);
					color: white;
					line-height: 1;
					height: 100px;
					padding: 0 5px 0 0;
					@include mq(){
						height: 60px;
					}
					span{
						display: block;

					}
					.box{
						position: relative;
						padding: 0 0 0 28px;
						&:before{
							content: "";
							position: absolute;
							@include v-align;
							left: 0;
						}
					}
					.c-ft--en{
						@include font-size(19);

					}
					.c-ft--base{
						@include font-size(13);

					}
				}
			}
			&--line{
				background: #74C77C;
				.box{
					&:before{
						width: 20px;
						height: 20px;
						background: url("../img/common/line.png")no-repeat;
						background-size: 100%;
					}
				}
			}
			&--contact{
				background: rgb(87,146,196);
				background: linear-gradient(180deg, rgba(87,146,196,1) 0%, rgba(105,177,236,1) 100%);
				.box{
					&:before{
						width: 19px;
						height: 15px;
						background: url("../img/common/mail.png")no-repeat;
						background-size: 100%;
					}
				}
			}
		}
	}
	.header-sns{
		display: none;
		@include mq(tb){
			@include flex(center,center,wrap);
		}

		position: absolute;
		top: 0;
		right: 60px;
		bottom: 0;
		li{
			border-right: 1px solid $blue;
			padding: 0 20px;
			&:last-child{
				border-right: none;
			}
		}
	}
	.js-mobile {
		width: 60px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		cursor: pointer;
		z-index: 12;
		display: none;
		background: rgba(#E6EAEF,0.5);
		@include mq(tb){
			@include flex(center,center);
		}
		span{
			position: absolute;
			@include v-align;
			display: block;
			width: 18px;
			height: 2px;
			background: $blue;
			border-radius: 3px;
			&:before,&:after{
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: $blue;
				content: '';
				-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
				border-radius: 3px;
			}
			&:before{
				-webkit-transform: translateY(-250%);
				transform: translateY(-250%);
				top: -1px;
			}
			&:after{
				-webkit-transform: translateY(250%);
				transform: translateY(250%);
				bottom: -1px;
			}
		}
		&--close {
			span{
				background-color: transparent;
				&:before,&:after{
					width: 100%;
					background: $blue;
				}
				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
					top: 2px;
				}
				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
					bottom: -2px;
				}
			}
		}
	}
}


.js-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	body {
		-webkit-overflow-scrolling: auto;
	}
}