@use 'vars' as *;


.page-program{
    .mv-page__ttl{
        @include mq{
            top: 51%;
        }
        small{
            @include fts(17, 27);
            font-weight: 400;
            max-width: 874px;
            width: 100%;
            margin: 35px auto 0;
            text-align: left;
            display: block;
            letter-spacing: 0.8px;
            @include mq(tb){
                margin-top: 10px;
            }
            @include mq{
                @include fts(16, 30);
                letter-spacing: 0;
                padding: 0 10px;
            }
        }
    }
}

.program-anchor{
    position: relative;
    top: -30px;
    margin-bottom: 112px;
    @include mq{
        margin-bottom: 18px;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0 20px;
        padding: 0 30px;
        @include mq(tb){
            gap: 0 10px;
            padding: 0 15px;
        }
        @include mq(sm){
            @include flex(between, 0, wrap);
            gap: 0;
        }
        &-item{
            padding: 20px;
            border-radius: 10px;
            background: #fff;
            box-shadow: 0 4px 4px rgba($color: #3E3A39, $alpha: 0.1);
            @include mq(tb){
                padding: 10px 10px 13px;
            }
            @include mq(sm){
                width: 48%;
                border-radius: 4px;
                margin-bottom: 15px;
            }
            a{
                display: block;
            }
            @include mq{
                &:last-of-type{
                    width: 100%;
                }
            }
        }
        &-img{
            position: relative;
            margin-bottom: 11px;
            @include p-after(31px, 31px){
                background: url(../img/program/ico-arr.png) no-repeat center/100%;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%);
                @include mq{
                    width: 18px;
                    height: 18px;
                }
            }
            img{
                border-radius: 5px;
            }
        }
        &-caption{
            @include font-size(17);
            font-weight: 700;
            text-align: center;
            color: #3E3A39;
            @include mq(tb){
                @include fts(14, 20);
            }
            small{
                display: block;
                @include font-size(13);
                line-height: 1.3;
                margin: 0 -10px;
                font-weight: 400;
                @include mq{
                    display: none;
                    @include fts(12, 16);
                }
                @include mq(sm){
                    display: block;
                }
            }
        }
    }
}


.program-main{
    background: url(../img/program/bg-after.png) no-repeat top center/174% auto;
    padding-bottom: 50px;
    @include mq{
        padding-bottom: 0;
    }
    &__list{
        @include flex(0, 0, wrap);
        margin: 0 -40px;
        @include mq(tb){
            margin: 0 -20px;
        }
        &-img{
            width: 524px;
            @include mq(tb){
                width: 45%;
            }
            @include mq(sm){
                width: 100%;
                margin-bottom: 35px;
                padding: 0 10px;
            }
        }
        &-ct{
            width: calc(100% - 524px);
            padding-left: 44px;
            @include mq(tb){
                width: 55%;
                padding-left: 30px;
            }
            @include mq{
                padding-left: 15px;
            }
            @include mq(sm){
                width: 100%;
                padding: 0 10px;
            }
            .c-ttl__02--sm .c-ft--base{
                font-weight: 700;
            }
        }

        &-ttl{
            margin-bottom: 6px;
        }
        &-ttlsub{
            @include fts(19, 31);
            font-weight: 700;
            margin-bottom: 28px;
            letter-spacing: 0.8px;
            @include mq{
                margin-bottom: 20px;
                letter-spacing: 0;
            }
        }
        &-desc{
            @include fts(17, 31);
            font-weight: 400;
            letter-spacing: 0.8px;
            @include mq{
                @include fts(16, 30);
                letter-spacing: 0.4px;
            }
        }
        &-option{
            @include flex(0, 0, wrap);
            margin-bottom: 24px;
            @include mq{
                margin-bottom: 13px;
                display: block
            }
            li{
                @include font-size(13);
                margin-right: 50px;
                font-weight: 700;
                display: inline-flex;
                align-items: center;
                gap: 0 3px;
                @include mq{
                    display: flex;
                    margin-bottom: 7px;
                }
                &:last-of-type{
                    margin-right: 0;
                }
                span{
                    @include font-size(17);
                    display: block;
                }
            }
        }
        &-note{
            @include fts(17, 27);
            font-weight: 700;
            color: #DC985B;
            margin-top: 12px;
            @include mq{
                @include fts(16, 26);
                margin-top: 12px;
                padding-right: 25px;
            }
        }


        &-item{
            padding: 0 40px 70px;
            margin-bottom: 80px;
            @include flex(0, center);
            position: relative;
            @include mq(tb){
                padding-bottom: 50px;
                margin-bottom: 50px;
                align-items: flex-start;
                padding-left: 20px;
                padding-right: 20px;
            }
            @include mq(sm){
                flex-wrap: wrap;
            }
            @include p-after(80%, 10px){
                background: #E6EAEF;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 3px;
                @include mq{
                    height: 4px;
                }
            }
            &:nth-child(4), &:nth-child(5){
                width: 50%;
                display: block;
                margin-bottom: 0;
                padding-bottom: 0;
                @include mq(sm){
                    width: 100%;
                }
                &:after{
                    display: none;
                }
                .program-main__list{
                    &-img, &-ct{
                        width: 100%;
                        padding: 0;
                    }
                    &-img{
                        margin-bottom: 0;
                    }
                }
            }
            &:nth-child(4){
                @include mq{
                    padding-bottom: 50px;
                    margin-bottom: 50px;
                    &:after{
                        display: block;
                    }
                }
            }
        }
    }
}