@charset "utf-8";
@use "reset";
@use "vars";
@use "base";
@use "utility";
@use "component";
@use "module";
@use "header";
@use "footer";

// Page styles import
@use "index";
@use "contact";
@use "faq";
@use "concept";
@use "price";
@use "program";
@use "trial";

