<footer id="footer">
	<div class="inner">

	</div>
</footer>
<ul class="links-items c-ft--jp">
	<li>
		<a href="https://muni-pilates.hacomono.jp/reserve/schedule/1/1/" target="_blank">
			<small>初めての方<span class="c-ft--en">無料</span></small>
			今すぐ体験予約
		</a>
	</li>
	<li>
		<a href="https://muni-pilates.hacomono.jp/reserve/schedule/1/1/" target="_blank">
			<small>会員の方</small>
			レッスン予約
		</a>
	</li>
</ul>