<main class="page-<%= pageData.template %>">
	<section class="mv-page">
		<ul class="breadcrumb">
			<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/ico.png" alt="home" width="5">HOME</a></li>
			<li><span>CONTACT</span></li>
		</ul>
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/contact/mv.jpg" alt="contact" class="pc">
			<img src="<%= RELATIVE_PATH %>img/contact/mv-sp.jpg" alt="contact" class="sp">
		</div>
		<div class="mv-page__ttl">
			<span class="c-ft--jp">CONTACT</span>
			<h1 class="c-ft--base">お問い合わせ</h1>
		</div>
	</section>
	<section class="sec-contact-page">
		<div class="inner">
			<div class="contact-page c-txt__basic">
				<span class="contact-page__ttl c-ft--jp">お問い合わせありがとうございます</span>
				<div class="contact-page__note-text contact-page__note-text--thanks c-al--c">
					<p>
						このたびは、当校へお問い合わせいただきありがとうございました。<br>
						ご記入頂いた情報は無事送信されました。
					</p>
					<p>
						フォームにご記入いただいたメールアドレスへ、<br>お問い合わせ内容の確認メールをお送りいたしましたので、<br>お手数をおかけしますがご確認お願いいたします。
					</p>

					<p>
						お問い合わせ内容を確認の上、数日以内にご連絡いたします。
					</p>
				</div>

				<div class="contact-form__sub">
					<a href="/"  class="c-btn__sub">
						TOPへ戻る
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-maps" id="access">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.524423815397!2d139.66753162535306!3d35.664087086490476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f36b3ad2db91%3A0x3f3ad847c2218fd4!2z44CSMTU1LTAwMzEg5p2x5Lqs6YO95LiW55Sw6LC35Yy65YyX5rKi77yS5LiB55uu77yT77yX4oiS77yR77yYIO-8re-8oe-8ru-8oeS4i-WMl-ayoiA0Zg!5e0!3m2!1sja!2sjp!4v1717469400705!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</section>
</main>